@charset "utf-8";
/* CSS Document */

* {
	margin:0px;
	padding:0px;
	border:0px;
}

body {
	background-color:white;
}

input {
	border:1px solid #999;
}

li {
	list-style:none;
	float:left;
}
.corpo {
	width:1000px;
	margin:0 auto;
}

table {
	border:1px solid black;
	margin: 0 auto 15px;
}

td {
	border:1px solid black;
}
	
